<h2 class="confirmation_heading">Flight Confirmation</h2>

<div class="bookings_show_flight_results">
  <%= render 'shared/flight_result', flight: @selected_flight %>
</div>

<h2 class="passengers_heading">Passengers</h2>
<div class="passengers-info">
  <% @booking.passengers.each do |passenger| %>
    <div class="passenger-info">
      <p><span>Name:</span><%= " #{passenger.first_name} #{passenger.last_name}" %></p>
      <p><span>Email:</span><%= " #{passenger.email}" %></p>
      <p><span>Phone Number:</span><%= " #{passenger.phone_number}" %></p>
    </div>
  <% end %>
</div>
