.new_booking_form .flight_result_container p:first-child {
  font-weight: bold;
}

.new_booking_form .flight_result_container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0 auto 40px;
  max-width: 300px;
}

/* PASSENGER FIELDS */

.passenger_fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

.passenger_fields div {
  display: flex;
  flex-direction: column;
}

.passenger_fields input {
  font-size: 1.1rem;
  height: 30px;
  max-width: 250px;
  padding-left: 4px;
}

.new_booking_form input[type="submit"] {
  font-size: 1.1rem;
  height: 44px;
  width: 150px;
}
